@model Licenta3.Models.Task

@{
    ViewData["Title"] = "Create";
}

<style>

    .title {
        margin-top: 3%;
        margin-bottom: 10px;
    }
</style>

<h2 class="text-primary title">Creează o nouă activitate</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Cod</label>
                <input asp-for="Code" class="form-control mb-2" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nume</label>
                <input asp-for="Name" class="form-control mb-2" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dependencies" class="control-label">Condiționări</label>
                <input asp-for="Dependencies" class="form-control mb-2" />
                <span asp-validation-for="Dependencies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Durată</label>
                <input asp-for="Duration" id="durationInput" class="form-control mb-2" type="text" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnit" class="control-label">Unitate de măsură</label>
                <select asp-for="MeasurementUnit" class="form-select mb-2" id="exampleSelect1">
                    <option>minute</option>
                    <option>ore</option>
                    <option>zile</option>
                    <option>săptămâni</option>
                    <option>luni</option>
                    <option>ani</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Creează activitatea" class=" btn btn-outline-success mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Task" asp-action="Index" asp-route-id="@ViewBag.Id"
       class="btn btn-outline-info mt-2"><i class="bi bi-trash-fill"></i>Înapoi spre lista activităților</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
