@model Licenta3.Models.Task

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-primary">Editează activitatea</h2>

<hr />

@{
    var users = ViewBag.Users as List<ApplicationUser>;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label">Cod</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Denumire</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dependencies" class="control-label">Condiționări</label>
                <input asp-for="Dependencies" class="form-control" />
                <span asp-validation-for="Dependencies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Durată</label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnit" class="control-label">Unitate de măsură</label>
                <select asp-for="MeasurementUnit" class="form-select" id="exampleSelect1">
                    <option>minute</option>
                    <option>ore</option>
                    <option>zile</option>
                    <option>săptămâni</option>
                    <option>luni</option>
                    <option>ani</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleSelect2">Selectați utilizatorul</label>
                <select asp-for="UserId" class="form-select" id="exampleSelect2">
                    @foreach (var user in users)
                    {
                        <option value="@user.Id">@user.LastName @user.FirstName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label">Numele proiectului</label>
                <select asp-for="ProjectId" class="form-select" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvează" class="btn btn-outline-success mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Task" asp-action="Index" asp-route-id="@ViewBag.Id"
       class="btn btn-outline-info mt-2"><i class="bi bi-trash-fill"></i>Înapoi spre lista activităților</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
