@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmarea emailului";
}

<h1 style="margin-top: 2rem">@ViewData["Title"]</h1>
<hr />
<partial name="_StatusMessage" model="Model.StatusMessage" />
