@page
@model RegisterModel
@{
    ViewData["Title"] = "Înregistrare";
}

<h1 style="margin-top: 2rem">@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 class ="text-primary" style="margin-bottom: 1rem">Creează un nou cont.</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" aria-required="true" />
                <label asp-for="Input.Password">Parola</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" />
                <label asp-for="Input.ConfirmPassword">Confirmă parola</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating" mb-3>
                <select asp-for="Input.Role" class="form-select" asp-items="@Model.Input.RolesList" aria-required="true" >
                <option disabled selected>Selectează rolul</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-3 mb-3">Creează contul</button>
            <div>
                <p>
                    Ai deja un cont? Click <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">aici</a> pentru a te autentifica.
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
